In [2]:
import typing
from typing import Optional

In [3]:
import sqlalchemy as sa
from devtools import debug
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column, Session
from pydantic import BaseModel, Field, NoneStr
from datetime import datetime, timedelta
from faker import Faker

In [15]:
engine = sa.create_engine("oracle+cx_oracle://jibon:sys123@LOCAL", echo=True)

### DECLARATIVE BASE STYLE 2.0

In [5]:
class Base(DeclarativeBase):
    pass

In [6]:
metadata_obj = sa.MetaData()

In [7]:
class Customer(Base):
    __tablename__ = "customers"

    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(sa.String(30))
    age: Mapped[int] = mapped_column(nullable=True)
    salary: Mapped[str] = mapped_column(sa.String(30))
    address: Mapped[str] = mapped_column(sa.String(80))

    def __repr__(self):
        return f"Customer(id={self.id!r}, name={self.name!r}, salary={self.salary!r})"

#### Reflection Of Existing Table

In [8]:
tbl_coordinator = sa.Table(
    "coordinators",
    metadata_obj,
    sa.Column("id", sa.Integer, primary_key=True),
    autoload_with=engine,
)

tbl_order = sa.Table(
    "demo_orders",
    metadata_obj,
    sa.Column("order_id", sa.Integer, primary_key=True, key="id"),
    sa.Column("customer_id", sa.Integer, sa.ForeignKey(Customer.id)),
    autoload_with=engine,
)

#### Declarative Class of Existing Reflected Tables

In [9]:
class CoordinatorModel(Base):
    __table__ = tbl_coordinator

    def __repr__(self):
        return f"Coordinator(id={self.id!r}, name={self.name!r}, created_by={self.created_by!r})"


class Order(Base):
    __table__ = tbl_order
    # customer_id: Mapped[int] = mapped_column(sa.ForeignKey('customers.id'))
    def __repr__(self):
        return f"Order(id={self.id!r}, user_name={self.user_name!r}, timestamp={self.order_timestamp!r})"

### FAKER DATA

In [10]:
fake = Faker()

In [ ]:
class CustomerSchema(BaseModel):
    id: Optional[int] = None
    name: NoneStr = None
    age: Optional[int] = None
    address: NoneStr = None
    salary: Optional[float] = None

In [ ]:
class OrderSchema(BaseModel):
    customer_id: Optional[int] = None
    order_total: Optional[float] = None
    order_timestamp: Optional[datetime] = None
    user_name: NoneStr = None
    tags: NoneStr = None

    class Config:
        allow_population_by_field_name = True

In [ ]:
def generate_fake_customer(id: int) -> Customer:
    _customer = CustomerSchema(
        id=id,
        name=fake.name(),
        age=fake.random_int(min=18, max=100),
        address=fake.address(),
        salary=fake.random_int(min=10000, max=1000000),
    )
    return Customer(**_customer.dict())


def generate_fake_order(customer_id: int) -> Order:
    _date = fake.date_between(start_date="today", end_date="+1y")
    _order = OrderSchema(
        customer_id=customer_id,
        order_total=fake.random_int(min=100, max=55000),
        order_timestamp=datetime(_date.year, _date.month, _date.day),
        user_name=fake.name(),
        tags=fake.lexify(text="??????????"),
    )
    return Order(**_order.dict())

In [ ]:
## GENERATE DUMMY DATA
# customers = [generate_fake_customer(i) for i in range(1001, 20000)]

#### ADDING FAKE DATA TO TABLE

In [ ]:
# with sa.orm.Session(bind=engine) as session:
#     session.add_all(customers)
#     session.commit()

In [ ]:
# with sa.orm.Session(bind=engine) as session:
#     stmt = sa.select(Customer).order_by(sa.desc(Customer.id))

#     for customer in session.scalars(stmt).all():
#         # debug(key, customer)
#         session.add(generate_fake_order(customer.id))

#     session.commit()
# customers = session.execute(stmt).scalars().all()

# for key, customer in enumerate(customers):
#     debug(generate_fake_order(key, customer.id))

In [11]:
# Normal Selecct
with Session(bind=engine) as session:
    stmt = sa.select(Order).limit(10)
    _customers = session.execute(stmt).scalars().all()

    debug(_customers)

C:\Users\user\AppData\Local\Temp\ipykernel_15288\1648019763.py:6 <module>
    _customers: [
        Order(id=178, user_name='Robin Roberts', timestamp=datetime.datetime(2023, 9, 19, 0, 0)),
        Order(id=179, user_name='Christine Hutchinson', timestamp=datetime.datetime(2023, 9, 2, 0, 0)),
        Order(id=180, user_name='Laura Evans', timestamp=datetime.datetime(2023, 11, 6, 0, 0)),
        Order(id=181, user_name='Gary Salinas', timestamp=datetime.datetime(2023, 10, 12, 0, 0)),
        Order(id=182, user_name='Linda Campos', timestamp=datetime.datetime(2023, 8, 18, 0, 0)),
        Order(id=183, user_name='Alex Church', timestamp=datetime.datetime(2023, 11, 27, 0, 0)),
        Order(id=184, user_name='Jessica Mason', timestamp=datetime.datetime(2023, 9, 19, 0, 0)),
        Order(id=185, user_name='Teresa Hensley', timestamp=datetime.datetime(2023, 2, 6, 0, 0)),
        Order(id=186, user_name='Dale Bradshaw', timestamp=datetime.datetime(2023, 4, 2, 0, 0)),
        Order(id=187, user_name='Caleb Larson', timestamp=datetime.datetime(2023, 11, 24, 0, 0)),
    ] (list) len=10

In [36]:
class CustomerOrder(BaseModel):
    order_id: int = Field(alias="id")
    order_amount: float = Field(alias="order_total")
    order_date: datetime = Field(alias="order_timestamp")
    name: str

    class Config:
        orm_mode = True
        allow_population_by_field_name = True

In [ ]:
# Join Select

with Session(bind=engine) as session:
    stmt = (
        sa.select(
            tbl_order.columns.id,
            tbl_order.columns.order_total,
            tbl_order.columns.order_timestamp,
            Customer.name,
        )
        .join_from(tbl_order, Customer)
        .where(tbl_order.columns.customer_id == 20)
        .order_by(sa.desc(tbl_order.columns.id))
        .limit(10)
    )
    _customer_orders: list[CustomerOrder] = [
        CustomerOrder(**record._asdict()) for record in session.execute(stmt).all()
    ]

    debug(_customer_orders)

In [44]:

# %%
db = Session(bind=engine)

In [61]:
from sqlalchemy.inspection import inspect
from sqlalchemy.sql.elements import Cast
from typing import Any, List, cast


filter_params = ["user_name:roberts"]
sorting_params = [{'id': 'asc'}]

query = db.query(Order)

conditions: List[Any]  = [] # type: ignore

# Filtering
for filter in filter_params:
    for key, *params in [filter.split(":", 1)]:
        if len(params):
            if key in inspect(Order).columns.keys():
                conditions.append(
                    sa.cast(Order.__dict__[key], sa.String(30)).ilike("%" + params[0] + "%")
                )
                query = query.filter(sa.or_(*conditions))

# Sorting
for sorting in sorting_params:
    for key, val in sorting.items():
        if key in inspect(Order).columns.keys():
            if val.upper() == 'DESC':
                query = query.order_by(sa.desc(Order.__dict__[key]))
            else:
                query = query.order_by(sa.asc(Order.__dict__[key]))

result = query.offset(30).limit(10).all()

debug(result)

2022-12-11 17:03:13,267 INFO sqlalchemy.engine.Engine SELECT demo_orders.order_id AS demo_orders_order_id, demo_orders.customer_id AS demo_orders_customer_id, demo_orders.order_total AS demo_orders_order_total, demo_orders.order_timestamp AS demo_orders_order_timestamp, demo_orders.user_name AS demo_orders_user_name, demo_orders.tags AS demo_orders_tags
FROM demo_orders
WHERE lower(CAST(demo_orders.user_name AS VARCHAR2(30 CHAR))) LIKE lower(:param_1) ORDER BY demo_orders.order_id ASC
 OFFSET 30 ROWS
 FETCH FIRST 10 ROWS ONLY
2022-12-11 17:03:13,268 INFO sqlalchemy.engine.Engine [cached since 309.4s ago] {'param_1': '%roberts%'}
C:\Users\user\AppData\Local\Temp\ipykernel_15288\3356013341.py:34 <module>
    result: [
        Order(id=6880, user_name='Paul Roberts', timestamp=datetime.datetime(2023, 9, 9, 0, 0)),
        Order(id=7011, user_name='Alexandria Roberts', timestamp=datetime.datetime(2023, 4, 15, 0, 0)),
        Order(id=7211, user_name='Annette Roberts', timestamp=datetime.datetime(2023, 6, 7, 0, 0)),
        Order(id=7284, user_name='Mary Roberts MD', timestamp=datetime.datetime(2023, 1, 2, 0, 0)),
        Order(id=7501, user_name='Chad Roberts', timestamp=datetime.datetime(2023, 4, 15, 0, 0)),
        Order(id=7644, user_name='Erica Roberts', timestamp=datetime.datetime(2023, 2, 18, 0, 0)),
        Order(id=8375, user_name='Caitlyn Roberts', timestamp=datetime.datetime(2023, 2, 25, 0, 0)),
        Order(id=9086, user_name='Katherine Roberts', timestamp=datetime.datetime(2023, 9, 13, 0, 0)),
        Order(id=9114, user_name='Pamela Roberts', timestamp=datetime.datetime(2023, 3, 23, 0, 0)),
        Order(id=9120, user_name='Robin Roberts', timestamp=datetime.datetime(2023, 8, 1, 0, 0)),
    ] (list) len=10

[Order(id=6880, user_name='Paul Roberts', timestamp=datetime.datetime(2023, 9, 9, 0, 0)),
 Order(id=7011, user_name='Alexandria Roberts', timestamp=datetime.datetime(2023, 4, 15, 0, 0)),
 Order(id=7211, user_name='Annette Roberts', timestamp=datetime.datetime(2023, 6, 7, 0, 0)),
 Order(id=7284, user_name='Mary Roberts MD', timestamp=datetime.datetime(2023, 1, 2, 0, 0)),
 Order(id=7501, user_name='Chad Roberts', timestamp=datetime.datetime(2023, 4, 15, 0, 0)),
 Order(id=7644, user_name='Erica Roberts', timestamp=datetime.datetime(2023, 2, 18, 0, 0)),
 Order(id=8375, user_name='Caitlyn Roberts', timestamp=datetime.datetime(2023, 2, 25, 0, 0)),
 Order(id=9086, user_name='Katherine Roberts', timestamp=datetime.datetime(2023, 9, 13, 0, 0)),
 Order(id=9114, user_name='Pamela Roberts', timestamp=datetime.datetime(2023, 3, 23, 0, 0)),
 Order(id=9120, user_name='Robin Roberts', timestamp=datetime.datetime(2023, 8, 1, 0, 0))]

In [31]:
db.close()